<!DOCTYPE html>
<html>
<head>
  <title>Loading...</title>
  <style>
    .loading-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .loading-spinner {
      font-size: 1rem;
      text-align: center;
      color: #333;
    }
  </style>
</head>
<body>
  <div class="loading-container">
    <div class="loading-spinner">
      <h1>Mongo DB items are being fetched. Please refresh in a few seconds ⏰.</h1>
      <h2>Note that, the time it will take to load depends on how many databases, collections and data you have stored in your mongo DB.</h2>
    </div>
  </div>
</body>
</html>